main {
  padding-top: 4rem;
}

.navbar-custom {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
}

.navbar {
  min-height: 4rem;
}

.navbar-brand img {
  height: 4.5rem;
  width: auto;
}

.navbar-custom .navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-left: 5rem;
}

.navbar-custom .navbar-nav .nav-link {
  font-size: 1.5rem;
}

.initial-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.initial-section video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.game-section,
.character-section,
.gallery-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

.game-section::before,
.character-section::before,
.gallery-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  opacity: 1.5;
  z-index: -1;
}

.game-section::before {
  background-image: url("../img/bg1.webp");
}

.character-section::before {
  background-image: url("../img/bg2.webp");
}

.gallery-section::before {
  background-image: url("../img/bg3.webp");
}

.overlay {
  width: 100%;
  padding: 2rem;
}

.game-logo {
  max-width: 300px;
}

.mc-box {
  background-image: url('assets/img/cosa.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 2.5rem;
  max-width: 520px;

  color: white;
  text-align: left;
}

.mc-box p {
  margin: 0;
  font-size: 1.05rem;
  line-height: 1.6;
  text-align: left;
}

@media (max-width: 62rem) {

  .navbar-collapse {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }

  .navbar-collapse.show {
    transform: translateY(0);
  }

  .navbar-custom .navbar-nav {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .initial-section video {
    display: none;
  }

  .initial-section {
    background: url("../img/fondo_cel.webp") no-repeat center / cover;
  }
}